h1 {
    color: white;
    font-size: 120%;
    font-weight: bold;
    background-color: rgb(12, 201, 12);
    text-align: center;
    padding: 10px;
}

p.big {
    color: black;
    font-size: 110%;
    font-weight: bold;
    background-color: rgb(142, 205, 142);
    text-align: center;
    padding: 10px;
}

.grid {
    display: grid;
    grid-template-columns: 2fr 2.5fr 2fr;
    gap: 5px;
}
.box {
    background-color: rgb(250, 250, 176);
    padding: 10px;
}

a:link {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: yellow;
}

a:hover {
    color: red;
    font-weight: bold;
}

a:active {
    color: pink;
}



